/*General*/
hr {
  margin-bottom: 20px;
}

button {
  margin: 10px;
}

/*Common Classes*/
.center {
  text-align: center;
}

.flex-container { 
  display: flex; 
  justify-content: center;
}
.x1 { flex: 1; }
.x2 { flex: 2; }

/*Classes*/
.signinbutton {
  padding: 8%;
  font-size: 2vw;
  font-family: Verdana;
}
.header {
  font-size: 2vw;
}
.instructions {
  margin-bottom: 15px;
  font-size: 18px;
}

/*Ids*/
#name_boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#name_boxes > div {
  border: 2px solid black;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 8px;
  width: 15vw;
  text-align: center;
}

#authorize_button {
  background: white;
  color: #444;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  
}

#signout_button {
  position:absolute;
  bottom:0;
  right:0;
  visibility: hidden;
}

#load_button {
  visibility: hidden;
}

#pswdPopUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 1600;
  visibility: hidden;
}

#signinPopUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 1600;
  visibility: visible;
}

#txt-search {
  visibility: hidden;
}

#search {
  visibility: hidden;
}